@import '../core/responsive';
@import '../core/mixins';
@import '../core/function';
@import '../core/variables';

.preview {
  background: linear-gradient(to bottom, $color-preview1, $color-preview2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: rem(38);
  border-radius: rem(6);

  @include tablet {
    flex-direction: column;
    padding-bottom: rem(200);
    margin-right: rem(30);
    flex-grow: 1;
  }

  @include desktop {
    flex-grow: 2;
  }

  &__align {
    display: flex;
    flex-direction: column;
    gap: rem(30);
  }

  &__container {
    background-color: $color-whireOriginal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
    max-width: rem(240);
    max-height: rem(340);
  }

  &__name {
    font-family: $font-Mont;
    font-weight: bold;
    color: $color-darkGreen;
    font-size: rem(18);
    border-left: solid $color-start rem(5);
    padding-left: rem(15);
    padding-bottom: rem(5);
    margin-top: rem(20);
    text-transform: capitalize;
  }

  &__job {
    font-family: $font-Mont;
    color: $color_gunMetal;
    border-left: solid $color-start rem(5);
    padding-left: rem(15);
    margin-bottom: rem(10);
  }

  &__img {
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../../images/preview-girl.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: rem(10);
    padding: rem(10);
    margin-left: rem(10);
    margin-bottom: rem(5);

    &--color {
      color: $color-darkGreen;
      border: solid 2px $color-input;
      border-radius: rem(16);
      padding: rem(5);
    }
  }

  &__card--flowers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: -60px;
  }

  @keyframes __card--flowers {
    0% {
      transform: translateY(0);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    100% {
      transform: translateY(80vh);
      opacity: 0;
    }
  }

  &__card--flowers img {
    width: 30px;
    animation: __card--flowers 7s linear infinite;
  }
}

.preview__card--flowers img:nth-child(1) {
  animation-delay: 2s;
}

.preview__card--flowers img:nth-child(2) {
  animation-delay: 1s;
}

.preview__card--flowers img:nth-child(3) {
  animation-delay: 3s;
}

.preview__card--flowers img:nth-child(4) {
  animation-delay: 4.5s;
}

.preview__card--flowers img:nth-child(6) {
  animation-delay: 3s;
}

.preview__card--flowers img:nth-child(7) {
  animation-delay: 6s;
}

.preview__card--flowers img:nth-child(8) {
  animation-delay: 7s;
}

.preview__card--flowers img:nth-child(9) {
  animation-delay: 1.5s;
}

.preview__card--flowers img:nth-child(10) {
  animation-delay: 2s;
}

.logoplus {
  width: 30px;
  height: 30px;
}


/*****************NUEVOS ESTILOS***********/
// body {
//   font-family: tahoma;
//   height: 100vh;
//   background-image: url(https://picsum.photos/g/3000/2000);
//   background-size: cover;
//   background-position: center;
//   display: flex;
//   align-items: center;
//   justify-content: center;

// }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-Mont;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;

}

.our-team .picture {
  display: inline-block;
  height: 280px;
  width: 280px;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  // background-color: $color-orange;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  // background-color: $color-orange;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture .img-fluid {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.our-team:hover .picture .img-fluid {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.our-team .name {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 5px;
}

.team-content {
  margin-bottom: 30px;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  // background-color: $color-start;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  // color: $color-orange;
  background-color: #f7f5ec;
}